@charset "utf-8";
/* css rest */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, menu, nav, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;}
body{padding:0;margin:0;background:#f0eeed;color:#444;font-family:'Nanum Gothic','맑은 고딕','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;font-size:13px;line-height:normal;padding-top:35px;}
h1, h2, h3, h4, h5, h6{font-size:100%;color:#fff;font-weight:normal;font-family:'Nanum Gothic','맑은 고딕','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;}
ul, ol{list-style:none;}
em, address{font-style:normal;}
hr{display:none;}
img{border:0 none;}

a, a:hover, a:focus, a:active{color:#333;cursor:pointer;text-decoration:none;}
a:focus{outline:thin dotted #666;}
a:active, a:hover, input {outline:none;text-decoration:none;}

fieldset, fieldset a>img,fieldset label,fieldset select,fieldset input,table td a>img,table td label,table td select,table td input,input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
form, fieldset, legend, label, input[type="image"], input[type="radio"], input[type="checkbox"]{border:0 none;}
fieldset{border:0 none;}
legend, caption{position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
button, input, select, textarea, .input-info-label{font-family:'Nanum Gothic','맑은 고딕','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;font-size:1em;line-height:normal;}

/* General & 'Reset' Stuff */


/* Buttons
*/

.btn {
  display: inline-block;
 /* background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));*/
  background: #4da99d;
  padding: 0 18px;
  height:32px;
  line-height:32px;
  /*border-radius: 50px;*/
  color: #fff;
  /*font-family: Helvetica, Arial, sans-serif;*/
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  vertical-align:middle;
  /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);*/
}

.btn:hover {
  /*background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));*/
  color:#fff;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/


/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

input[type=text],
input[type=number] {background-color:#f5f5f5;color:#3c5165;font-size:14px;line-height:28px;height:30px;text-indent:3%;border:1px solid #c8c8c8;vertical-align:middle;border-radius:2px;}
input[type=number]:focus,
input[type=text]:focus {border-color:#015fa5;background-color:#f5f5f5;}

/* hash tags */
.hash-head {color:#fff;font-size:15px;font-weight:bold;padding:10px;}

.code {color:#fff;font-size:18px;font-weight:bold;margin-right:5px;vertical-align:middle;display:inline-block;padding:0 5px 0 3px;height:32px;line-height:32px;}
.hash-container {padding:10px;}

.hash-search-wrap {margin-bottom:10px;}
.hash-search-wrap .code {color:#6389a8;}
.hash-search-wrap input {width:68%;}

.hash-search-list {color:#fff;opacity:0.8;padding:10px 0;}
.hash-search-list li {font-size:15px;color:#fff;}
.my-hash-member,
.hash-search-list.my-hash {margin:-14px -10px 0;}
.my-hash-member li,
.hash-search-list.my-hash li {background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(51%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );height:34px;border-bottom:1px solid #ccc;color:#444;line-height:32px;padding:0 10px;}
.hash-search-list.my-hash li .tag-count {background-color:#ff5426;color:#fff;}
.hash-search-list.my-hash li:before {color:#444;}
.search-keyword:before,
.hash-search-list li:before {content:'#';color:#fff;font-size:15px;}
.del-tag {font-family:'Helvetica';display:inline-block;padding:0 3px;}
.hash-number,
.tag-count {color:#9299ac;font-size:12px;display:inline-block;background-color:#FFF;border-radius:15px;min-width:10px;height:15px;text-align:center;font-weight:bold;padding:0 5px;line-height:15px;}
.my-hash-network {}
.search-keyword,
.my-hash-network .hash-search-list li {display:inline-block;background-color:#9299ac;color:#fff;padding:2px 4px;margin:1px 3px 1px 0;border-radius:15px;line-height:15px;}
.hash-button {text-align:center;}

.my-hash-member li {padding-left:15px;}
.department {display:inline-block;min-width:120px;}
.department:before {content:'';background:url('../images/ico_member.png') no-repeat 0% 50%;display:inline-block;width:15px;height:15px;background-size:15px auto;vertical-align:middle;margin-right:5px;} 
.name {display:inline-block}
.my-hash-member .hash-number {background-color:#ff5426;color:#fff;margin-left:5px;}

.hash-tab-wrap {width:100%;overflow:hidden;background-color:#6389a8;position:fixed;top:0;left:0;right:0;padding:5px 0;}
.hash-tab-wrap a {display:block;width:29%;float:left;text-align:center;height:30px;line-height:30px;font-size:13px;color:#d4e3ef;font-weight:normal;margin:0 1.5%;}
.hash-tab-wrap a.current {background-color:#49708f;width:30%;border-radius:50px;color:#fff;}

.my-info {overflow:hidden;}
.my-info dt {display:inline-block;float:left;width:30%;}
.my-info dd {display:inline-block;float:left;width:70%;}

.hash-layer-wrap {background-color:#FFF;border-radius:5px;border:1px solid #717171;position:absolute;padding:2% 0;width:auto;margin-top:-3%;}
.layer-menu {color:#3c5165;font-size:13px;font-weight:normal;}
.layer-menu li {border-top:1px solid #ced9e4;padding:2% 2% 2% 4%;text-align:left;word-break:keep-all;white-space:nowrap;}
.layer-menu li:first-child {border-top-width:0;}

.hash-polis-wrap {overflow:hidden;padding-bottom:50px;}
.polis-divide {clear:both;margin-bottom:10px;overflow:hidden;border:1px solid #dcdcdc;border-radius:30px;width:75%;display:inline-block;padding:5px 10px;background-color:#fff;letter-spacing:-0.075em;color:#555;box-shadow:-1px 3px 2px rgba(191, 187, 193, 0.3);}
.right-comment {float:right;background-color:#effdde;box-shadow:1pxhash-text 3px 2px rgba(99, 137, 168, 0.3);}
.hash-label {color:#2fa9e2;}
.hash-label:before {content:'#';color:#2fa9e2;font-size:15px;margin-right:1px;display:inline-block;}
.polis-my .polis-boom {float:right;}

.hash-text {position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#fff;border-top:1px solid #6389a8;}
.hash-text input[type="text"] {background-color:#f1f1f1;width:46%;}
.hash-text input[type="text"]:focus {border-color:#ced9e4;}

.hash-text .btn {position:absolute;right:5px;}
.g-coin {background-color:#a8db92;color:#6a91b1;font-size:12px;border-radius:10px;padding:2px 5px;display:inline-block;letter-spacing:0;margin-left:5px;word-break:keep-all;white-space:nowrap;vertical-align:middle;}
.g-coin:after {content:'P';display:inline-block;margin-left:3px;font-weight:bold;}
.g-coin.give {background-color:#ff5426;color:#f1f1f1;}
.my-comment {clear:right;text-align:right;border-top:2px solid #888;margin-top:5px;padding-top:5px;}
.search-keyword-wrap {clear:both;padding:10px 0;}
.point-select {color:#6a91b1;}
.point-select select {height:30px;}

.my-hash-tag {overflow:hidden;background-color:#323232;padding:5px 0;margin:-5px -10px 10px;}
.my-hash-tag .code {color:#fff;vertical-align:-1px;padding:0 0 0 5px;}
.my-hash-tag .fl-left {float:left;color:#fff;font-size:15px;line-height:15px;}
.my-hash-tag .fl-right {float:right;font-size:12px;}
.link-menu {color:#fff;padding:8px 10px 8px 10px;display:inline-block;}
.link-menu:after {content:'보기 >';}
.link-menu:hover {color:#fff;}
