@charset "utf-8";
/* css rest */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, menu, nav, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;}
body{padding:0;margin:0;background:#0079c1;color:#fff;font-family:'Nanum Gothic','¸¼Àº °íµñ','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;font-size:12px;line-height:normal;}
h1, h2, h3, h4, h5, h6{font-size:100%;color:#fff;font-weight:normal;font-family:'Nanum Gothic','¸¼Àº °íµñ','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;}
ul, ol{list-style:none;}
em, address{font-style:normal;}
hr{display:none;}
img{border:0 none;}

a, a:hover, a:focus, a:active{color:#333;cursor:pointer;text-decoration:none;}
a:focus{outline:thin dotted #666;}
a:active, a:hover, input {outline:none;text-decoration:none;}

fieldset, fieldset a>img,fieldset label,fieldset select,fieldset input,table td a>img,table td label,table td select,table td input,input[type="checkbox"],input[type="radio"]{vertical-align:middle;}
form, fieldset, legend, label, input[type="image"], input[type="radio"], input[type="checkbox"]{border:0 none;}
fieldset{border:0 none;}
legend, caption{position:absolute;visibility:hidden;overflow:hidden;width:0;height:0;margin:0;padding:0;font-size:0;line-height:0;}
button, input, select, textarea, .input-info-label{font-family:'Nanum Gothic','¸¼Àº °íµñ','Sans-serif', Dotum, Gulim, Arial, Helvetica, Verdana;font-size:1em;line-height:normal;}

/* General & 'Reset' Stuff */


/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(4, 90, 113, 0.7);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

input[type=text] {background-color:#f1f1f1;color:#cccccc;font-size:18px;line-height:32px;text-indent:3%;border:1px solid #dcdcdc;border-radius:50px;}
input[type=text]:focus {border-color:#015fa5;background-color:#FFF;}

/* hash tags */
.hash-head {color:#fff;font-size:15px;font-weight:bold;padding:10px;}

.code {color:#fff;font-size:18px;font-weight:bold;margin-right:5px;}
.hash-container {padding:10px;}

.hash-search-list {color:#fff;opacity:0.8;padding:10px 0;}
.hash-search-list li {font-size:15px;color:#fff;}
.hash-search-list li:before {content:'#';color:#fff;font-size:15px;}
.del-tag {font-family:'Helvetica';}
.tag-count {color:#ddd;font-size:12px;display:inline-block;}
.my-hash-network {}
.my-hash-network .hash-search-list li {display:inline-block;background-color:#cdd4da;color:#666;padding:2px;margin:1px 0;}
.hash-button {text-align:center;}